.trending-product {
    align-items: center;
    img {
        width: 65px;
        height: 65px;
        border-radius: 10px;

    }
    .name {
        font-weight: 700;
        letter-spacing: 0.7px;
    }
}