.review-tab {
    .review-tab-title {
        align-items: center;
        i {
            color: #e77733;
        }
        .rate {
            letter-spacing: 1px;
            font-size: x-large;
            font-weight: 600;
            
        }
    }
}